<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>vue-todo-front</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href=/css/font-awesome.css>
    <link rel="stylesheet" href=/css/jquery.datetimepicker.min.css>
    <link rel="stylesheet" href=/css/bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/css/ripples.min.css">
    <link rel="stylesheet" href=/css/main.css>
    <link href=/css/app.css rel=stylesheet>
</head>
<body>
<div id="app"></div>
<script type=text/javascript src=/js/jquery-1.12.3.min.js></script>
<script type=text/javascript src=/js/jquery.datetimepicker.full.js></script>
<script type=text/javascript src=/js/bootstrap.js></script>
<script type=text/javascript src=/js/moment.js></script>
<script type=text/javascript src=/js/material.js></script>
<script type=text/javascript src=/js/ripples.js></script>
<script type=text/javascript src=/socket.io/socket.io.js></script>
<script type=text/javascript src=/js/manifest.js></script>
<script type=text/javascript src=/js/vendor.js></script>
<script type=text/javascript src=/js/app.js></script>
</body>
</html>
